### IntelliJ IDEA ###
out/
/tmp/
/tools/mosaic-cell-traffic-diagnostic/out/
tmp/mosaic-25.2/bin/
tmp/mosaic-25.2/etc/
tmp/mosaic-25.2/lib/
tmp/mosaic-25.2/tmp/
tmp/mosaic-25.2/tools/web/
tmp/mosaic-25.2/logs/

/tmp/mosaic-25.2/scenarios/
/tmp/mosaic-25.2/tools/

/tmp/mosaic-25.2/CONTRIBUTING.md
/tmp/mosaic-25.2/LICENSE
/tmp/mosaic-25.2/mosaic.bat
/tmp/mosaic-25.2/mosaic.sh
/tmp/mosaic-25.2/NOTICE.md
/tmp/mosaic-25.2/NOTICE-THIRD-PARTY.md

!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

